body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #CBCE91FF, #EA728DFF);
}

*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

#calculator {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    align-content: center;
    justify-content: center;
}

#calculator > button {
    cursor: pointer;
    font-size: 3rem;
    outline: none;
    border: ;
}

#span-two {
    grid-column: span 2;
}

#display {
    display: flex;
    align-items: flex-end;
    grid-column: 1 / -1;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

#display #previous-operand {
    color: blanchedalmond;
    font-size: 2rem;
}

#display #current-operand {
    color: white;
    font-size: 3rem;
}

button {
    color: white;
    border-radius: 50px;
    border: 1px;
}

button:hover {
    background-color: rgb(102, 100, 100);
}

.clear {
    background-color: rgb(15, 196, 54);
}

.clear:hover {
    background-color: rgb(104, 235, 133);
}

.operator {
    background-color: lightseagreen;
}

.operator:hover {
    background-color: rgb(116, 233, 227);
}

.operand {
    background-color: rgb(0, 0, 0);
}